@model Account_management_system.Models.tbl_notification

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbl_notification</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.notification_id)

        <div class="form-group">
            @Html.LabelFor(model => model.sender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sender)
                @Html.ValidationMessageFor(model => model.sender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.notification, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.notification)
                @Html.ValidationMessageFor(model => model.notification)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.date)
                @Html.ValidationMessageFor(model => model.date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.category_id, "category_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("category_id", String.Empty)
                @Html.ValidationMessageFor(model => model.category_id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
