@model Account_management_system.Models.tbl_customer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbl_customer</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.customer_id)

        <div class="form-group">
            @Html.LabelFor(model => model.applicant_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.applicant_name)
                @Html.ValidationMessageFor(model => model.applicant_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.present_address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.present_address)
                @Html.ValidationMessageFor(model => model.present_address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.parmanent_address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.parmanent_address)
                @Html.ValidationMessageFor(model => model.parmanent_address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mobile_number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mobile_number)
                @Html.ValidationMessageFor(model => model.mobile_number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.father_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.father_name)
                @Html.ValidationMessageFor(model => model.father_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mother_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mother_name)
                @Html.ValidationMessageFor(model => model.mother_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.user_type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_type)
                @Html.ValidationMessageFor(model => model.user_type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.photo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.photo)
                @Html.ValidationMessageFor(model => model.photo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.birth_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.birth_date)
                @Html.ValidationMessageFor(model => model.birth_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.religion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.religion)
                @Html.ValidationMessageFor(model => model.religion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.year, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.year)
                @Html.ValidationMessageFor(model => model.year)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
