@model IEnumerable<Account_management_system.Models.tbl_customer>

@{
    ViewBag.Title = "Index";
}

<h2>All Customer Information</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.applicant_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.present_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parmanent_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.father_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mother_name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.user_type)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birth_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.religion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.applicant_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.present_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parmanent_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobile_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.father_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mother_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birth_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.religion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.customer_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.customer_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.customer_id })
        </td>
    </tr>
}

</table>
