@model Account_management_system.Models.tbl_Expense

@{
    ViewBag.Title = "Create";
}

<h2>Expense Category Add</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.employee_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.employee_id)
                @Html.ValidationMessageFor(model => model.employee_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.expense_category, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.expense_category)
                @Html.ValidationMessageFor(model => model.expense_category)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.expense_amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.expense_amount)
                @Html.ValidationMessageFor(model => model.expense_amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.data, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.data)
                @Html.ValidationMessageFor(model => model.data)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.year, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.year)
                @Html.ValidationMessageFor(model => model.year)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.expense_discription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.expense_discription)
                @Html.ValidationMessageFor(model => model.expense_discription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.user_id, "user_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("user_id", String.Empty)
                @Html.ValidationMessageFor(model => model.user_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ex_category_id, "ex_category_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ex_category_id", String.Empty)
                @Html.ValidationMessageFor(model => model.ex_category_id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
