@model Account_management_system.Models.tbl_salary_expense

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_salary_expense</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employee_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salary_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salary_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salary_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salary_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_user.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_user.user_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.salary_expense_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
