@model IEnumerable<Account_management_system.Models.tbl_salary_expense>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employee_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary_amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_user.user_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employee_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_user.user_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.salary_expense_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.salary_expense_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.salary_expense_id })
        </td>
    </tr>
}

</table>
