@model Account_management_system.Models.tbl_land_account

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_land_account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.recevier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recevier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_process)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_process)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pay_order_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pay_order_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_discription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_customer.applicant_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_customer.applicant_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_user.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_user.user_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
