@model Account_management_system.Models.tbl_income_category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_income_category</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_user.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_user.user_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.category_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
