@model IEnumerable<Account_management_system.Models.tbl_extra_account>

@{
    ViewBag.Title = "Index";
}

<h2> Income From Customer</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.payment_process)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pay_order_ddno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.incame_cetegory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.receiver_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment_discription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_income_category.category_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_user.user_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.payment_process)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pay_order_ddno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.incame_cetegory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.receiver_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_discription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_income_category.category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_user.user_name)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.income_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.income_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.income_id })
        </td>*@
    </tr>
}

</table>
